[submodule "another-portfolio"]
	path = another-portfolio
	url = https://github.com/milkshakegum/another-portfolio
[submodule "semaphore-demo-flutter2"]
	path = semaphore-demo-flutter2
	url = https://github.com/semaphoreci-demos/semaphore-demo-flutter2
