[submodule "fork-to-use-for-portfolio"]
	path = fork-to-use-for-portfolio
	url = https://github.com/milkshakegum/fork-to-use-for-portfolio
[submodule "Portfolio-v0.0.2"]
	path = Portfolio-v0.0.2
	url = https://github.com/milkshakegum/Portfolio-v0.0.2
[submodule "Portfolio-notion-cms"]
	path = Portfolio-notion-cms
	url = https://github.com/milkshakegum/Portfolio-notion-cms
[submodule "Portfolio-Starter-Cara"]
	path = Portfolio-Starter-Cara
	url = https://github.com/milkshakegum/Portfolio-Starter-Cara
